body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.mars-component {
  padding: 4px;
}
.photo-of-the-day-explanation {
  padding: 2em;
  margin: 2em;
}
.mars-main {
  text-align: center;
  margin: 50px;
}
.mars-photo-of-the-day-size {
  width: 800px;
  height: 500px;
}
.mars-video-of-the-day-size {
  width: 800px;
  height: 500px;
}
.size-of-mars-picture-cards {
  max-width: 300px;
  max-height: 200px;
  height: 200px;
  width: 200px;
}
.title {
  text-align: center;
  font-size: 3em;
}
